/*------------------------------------*\

    $Helper Classes
    
\*------------------------------------*/

/* No border */

.no-b {
  border-color: transparent;
  border: none;
}



/* Text Utilities */

.hide-text {
  font: 0/0;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; 
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justified {
  text-align: justify;
}



/* Float + Positioning Utilities */

.left-float {
  float: left;
}

.right-float {
  float: right;
}

.center-float {
  margin-left: auto;
  margin-right: auto;
}

.no-float {
  float: none;
}




/* Is Disabled Utility Class */
.is-disabled,
.disabled {
  pointer-events: none;
  opacity: .45;
  cursor: not-allowed;
}






.hide-desktop {
  display: none;

  @include bp(mobile) {
    display: block;
    visibility: visible;
  }

  @include bp(tablet) {
    display: block;
    visibility: visible;
  }
}

    [class^="col"] {
      &.hide-desktop {
        @include bp(mobile) {
          display: block;
          visibility: visible;
        }

        @include bp(tablet) {
          display: block;
          visibility: visible;
        }

        @include bp(desktop) {
          display: none;
        }
      }

      .hide-desktop {
        @include bp(mobile) {
          display: block;
          visibility: visible;
        }

        @include bp(tablet) {
          display: block;
          visibility: visible;
        }

        @include bp(desktop) {
          display: none;
        }
      }
    }


.hide-tablet {
  @include bp(tablet) {
    display: none;
  }
  @include bp(desktop) {
    display: block;
    visibility: visible;
  }
  @include bp(mobile) {
    display: block;
    visibility: visible;
  }
}
    [class^="col"] {
      &.hide-tablet {
        @include bp(tablet) {
          display: none;
        }
        @include bp(desktop) {
          display: block;
          visibility: visible;
        }
        @include bp(mobile) {
          display: block;
          visibility: visible;
        }
      }

      .hide-tablet {
        @include bp(tablet) {
          display: none;
        }
        @include bp(desktop) {
          display: block;
          visibility: visible;
        }
        @include bp(mobile) {
          display: block;
          visibility: visible;
        }
      }
    }



.hide-mobile {
  @include bp(mobile) {
    visibility: hidden;
    display: none;
  }
  @include bp(tablet) {
    display: block;
    visibility: visible;
  }
  @include bp(desktop) {
    display: block;
    visibility: visible;
  }
}

    [class^="col"] {
      &.hide-mobile {
        @include bp(mobile) {
          visibility: hidden;
          display: none;
        }
        @include bp(tablet) {
          display: block;
          visibility: visible;
        }
        @include bp(desktop) {
          display: block;
          visibility: visible;
        }
      }

      .hide-mobile {
        @include bp(mobile) {
          visibility: hidden;
          display: none;
        }
        @include bp(tablet) {
          display: block;
          visibility: visible;
        }
        @include bp(desktop) {
          display: block;
          visibility: visible;
        }
      }
    }





// Show

.show-mobile {
  @include bp(mobile) {
    display: block;
    visibility: visible;
  }
}

    [class^="col"] {
      &.show-mobile {
        @include bp(mobile) {
          display: block;
          visibility: visible;
        }
      }
      .show-mobile {
        @include bp(mobile) {
          display: block;
          visibility: visible;
        }
      }
    }

.show-tablet {
  @include bp(tablet) {
    display: block;
    visibility: visible;
  }
}

    [class^="col"] {
      &.show-tablet {
        @include bp(tablet) {
          display: block;
          visibility: visible;
        }
      }
      .show-tablet {
        @include bp(tablet) {
          display: block  ;
          visibility: visible;
        }
      }
    }



.show-desktop {
  @include bp(desktop) {
    display: block;
    visibility: visible;
  }
}

  [class^="col"] {
    &.show-desktop {
      display: block;

      @include bp(desktop) {
        display: block;
        visibility: visible;
      }
    }

    .show-desktop {
      display: block;

      @include bp(desktop) {
        display: block;
        visibility: visible;
      }
    }
  }

  .hide {
    visibility: hidden;
    display: none;
    opacity: 0;
    @include transition(opacity .45s linear);
  }

  .fade {
    opacity: 0;
    @include transition(opacity .45s linear);
  }

  .fade.in {
    opacity: 1;
  }


.test-visually {
  .block {
    background-color: $primary-color;
    color: $base-white;
    padding: 1rem;
  }
}





.m1 {
  @include rem(margin, 10px);
}

.m2 {
  @include rem(margin, 20px);
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  @include rem(margin-top, 10px);
}

.mt-2 {
  @include rem(margin-top, 20px);
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  @include rem(margin-bottom, 10px);
}

.mb-2 {
  @include rem(margin-bottom, 20px);
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  @include rem(margin-right, 10px);
}

.mr-2 {
  @include rem(margin-right, 20px);
}

.ml-0 {
  margin-right: 0;
}

.ml-1 {
  @include rem(margin-left, 10px);
}

.ml-2 {
  @include rem(margin-left, 20px);
}


.p1 {
  @include rem(padding, 10px);
}

.p2 {
  @include rem(padding, 20px);
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  @include rem(padding-top, 10px);
}

.pt-2 {
  @include rem(padding-top, 20px);
}

.pb-0 {
  margin-bottom: 0;
}

.pb-1 {
  @include rem(padding-bottom, 10px);
}

.pb-2 {
  @include rem(padding-bottom, 20px);
}

.pr-0 {
  margin-right: 0;
}

.pr-1 {
  @include rem(padding-right, 10px);
}

.pr-2 {
  @include rem(padding-right, 20px);
}

.pl-0 {
  margin-right: 0;
}

.pl-1 {
  @include rem(padding-left, 10px);
}

.pl-2 {
  @include rem(padding-left, 20px);
}